# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\pelsi\IdeaProjects\113-GittiGidiyor-Java-Spring-Bootcamp\second-homework-pelsinkaplan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
